@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Hind+Madurai&family=League+Gothic&family=Open+Sans:wght@300;400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,300;1,300&family=Rubik:wght@300&family=Secular+One&family=Space+Mono:wght@400;700&family=Ubuntu:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}
body {
  background-color: rgb(26, 26, 49);
}
.container {
  width: 700px;
  color: white;
  background-color: rgb(32, 32, 71);
  margin: 30px auto; 
  border-radius: 10px;
}
#myform {
  background-color: rgb(32, 32, 71);
  margin-bottom: 40px;
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  max-height: 70px;
}
#search {
  padding-left: 20px;
  width: 100%;
  background: transparent;
  border: 1px solid transparent;
  height: 70px;
  color: white;
  font-size: 18px;
  border-radius: 15px;
  z-index: -1;
  outline: none;
}
#btn {
  padding: 18px 25px;
  color: white;
  background: rgb(74, 74, 173);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  bottom: 63px;
  left: 590px;
}
#profile-card {
  display: none;
  padding: 40px;
  text-transform: capitalize;
}
img {
  width: 120px;
  margin-right: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
#user-name {
  font-size: 30px;
  margin-bottom: 10px;
}
#git-link {
  text-decoration: none;
  color: rgb(68, 68, 240);
}
#bio {
  margin: 20px 0;
}
.profile-body {
  display: flex;
  justify-content: space-between;
  width: 450px;
  background: rgb(26, 26, 49);
  padding: 15px 25px;
  border-radius: 10px;
}
.cap ~ div {
  font-size: 20px;
  margin-top: 10px;
}
.profile-footer {
  display: flex;
  width: 450px;
  justify-content: space-between;
}
#blog {
  display: block;
  color: white;
  text-decoration: none;
}
.foot {
  margin: 30px 0;
}