@import url('https://fonts.googleapis.com/css2?family=Cairo&family=League+Gothic&family=Pacifico&family=Secular+One&family=Ubuntu:wght@700&display=swap');

* {
  font-family: 'Hind Madurai', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
.container {
  width: 750px;
  margin: 0 auto;
}
.head {
  background-color: rgb(228, 36, 36);
  padding: 40px 40px 20px 40px;
}
h2 {
  margin: 5px;
  text-align: center;
  color: white;
}
#input {
  padding: 5px;
  height: 31px;
  width: 500px;
  outline: none;
}
.btn {
  padding: 10.4px 0;
  display: inline-block;
  position: relative;
  right: 5px;
  top: .5px;
  border: 1px solid transparent;
  width: 151px;
  text-transform: capitalize;
  font-size: 18px;
  cursor: pointer;
}
.flex {
  display: flex;
  background-color: rgb(243, 240, 240);
}
.flex:nth-child(even) {
  background-color: rgb(230, 216, 216);
}
.flex:hover {
  background-color: rgb(206, 194, 194);
}
.tick, .task, .delete {
  padding: 20px 20px;
}
.task {
  width: 650px;
  margin-left: 15px;
}
.tick {
  color: white;
  font-size: 0px;
  box-sizing: border-box;
}
.delete:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}

.hide {
  width: 200px;
}
.show {
  font-size: 25px;
}


.flex2 {
  background: gray;
}
.flex2:nth-child(even) {
  background: gray;
}
.flex2 .tick {
  font-size: 18px;
  max-height: 48px;
}
.flex2 .task {
  margin: 0;
  text-decoration: line-through;
  color: white;
}
.flex2:hover {
  background-color: gray;
}
.flex2 .delete {
  color: white;
}
